.auto-rows-custom {
    grid-auto-rows: 4rem;
    /* Sets default row height to 4rem (64px) */
}

a {
    cursor: pointer;
}

div ul li {
    list-style-type: none;
    border: 2px solid grey;
    border-radius: 10px;
    padding: 1px;
    font-size: small;
    font-style: italic;
}